/**
  * Admin styles for the WooCommerce Category Grid Layout plugin.
  * This file contains styles for the admin section in the WordPress backend.
  */

.wcgl_shortcode_options {
    display: flex;
    flex-direction: column;
}

.wcgl-admin-page {

  width: 50%;
  padding: 1rem;


  &__title {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;

    &--background {
      background: #5F43B2;
      background: radial-gradient(circle, rgba(95, 67, 178, 1) 50%, rgba(58, 49, 83, 1) 100%);
      width: 100%;
      height: 2rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
    }
  }

  &__shortcode {
    width: 100%;
  }
}

.wcgl_generate {
  margin-right: 0.8rem;
}

button {
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}
